.header {
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #191b1d;
	border-bottom: 1px solid #111214;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	font-size: 1rem;

	.title {
		padding: 8px;
	}

	.drag {
		padding: 8px;
		flex-grow: 1;
		height: 100%;
	}
}

.tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #393b3d;

	.tab {
		text-align: center;

		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 12px;
		padding-right: 12px;

		font-size: 1rem;
		cursor: pointer;

		&:hover {
			background-color: lighten(#393b3d, 15%);
		}
	}
}