#root {
	* {
		font-family: "HCo Gotham SSm", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
	}

	button, select, input {
		outline: none;
	}
	
	select {
		user-select: none;
		color: #fff;
		background: transparent;
		padding: 6px 6px;
		border: 1px solid #3b3c3c;
		border-radius: 6px;
		cursor: pointer;
		transition: color 150ms ease-out;

		&:hover {
			color: #bdbebe;
		}

		option {
			background-color: #393b3d;
			padding: 5px;
		}
	}

	button {
		background: #fff;
		color: #191919;
		padding: 6px 6px;
		font-size: 16px;
		border-radius: 6px;
		border: 1px solid #B8B8B8;
		cursor: pointer;
		user-select: none;
	}

	input[type=number] {
		background: #0a0b0c;
		border: 1px solid #3b3c3c;
		border-radius: 6px;
		padding: 5px;
		min-width: 75px;

		&::placeholder {
			color: #545455;
		}

		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	fieldset {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5px;
		border-color: #656668;
		border-radius: 4px;
	}
}