.info {
	padding: 8px;
	padding-bottom: 0;
	font-size: 0.9rem;
}

.controls {
	display: flex;
	flex-direction: row;
	gap: 8px;
	padding: 8px;

	.textfield {
		padding: 8px;

		background-color: #111212;
		color: #bdbebe;
		border: 1px solid #414142;
		border-radius: 8px;
		outline: none;

		font-size: 1rem;

		&:focus {
			border-color: #bdbebe;
		}

		&::placeholder {
			color: #919191;
		}
	}

	.button {
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 12px;
		padding-right: 12px;

		background-color: transparent;
		color: #bdbebe;
		border: 1px solid #bdbebe;
		border-radius: 8px;

		font-size: 1rem;

		&:hover {
			border-color: lighten(#bdbebe, 15%);
			color: lighten(#bdbebe, 15%);
		}
	}
}

.outfits {
	overflow-y: auto;
	padding: 8px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-grow: 1;
	gap: 8px;

	.outfit {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;

		.preview {
			position: relative;

			.icon {
				width: 126px;
				height: 126px;
	
				background-color: #2f3133;
				border-radius: 8px;
				cursor: pointer;
				transition: background 300ms linear;
	
				&:hover {
					background: radial-gradient(transparent, rgba(0, 0, 0, 0.2));
				}
			}

			.options {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;

				padding: 5px;

				background-color: rgba(0, 0, 0, 0.75);
				border-radius: 8px;

				.option {
					padding: 3px;
					border: 1px solid transparent;
					border-radius: 8px;
					width: 100%;

					font-size: 0.8rem;
					cursor: pointer;

					&:hover {
						border-color: #fff;
					}
				}
			}
		}

		.caption {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 5px;
			width: 100%;

			.name {
				font-size: 1rem;
				flex-grow: 1;
			}

			.edit {
				width: 18px;
				height: 18px;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}